body {
	margin: 0;
	font-family: Helvetica,Arial,sans-serif;
}
h3 {
	text-align: center;
	display: block;
}
.home {
top: 0px;
left: 0px;
width: 100%;
min-height: 100%;
position: absolute;
border: 0;
outline: none;
padding: 0;
margin: 0;
}

.intxt {
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-image: none;
padding: .4em;
margin: .5em 0;
line-height: 1.4;
font-size: 16px;
display: block;
width: 100%;
outline: 0;
font-family: Helvetica,Arial,sans-serif;
-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
box-shadow: inset 0 1px 4px rgba(0, 0, 0, .2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-moz-border-radius: .6em;
-webkit-border-radius: .6em;
border-radius: .6em;

}
.intxt:focus {
	-webkit-box-shadow: 0 0 12px #387BBE;
	-moz-box-shadow: 0 0 12px #387BBE;
	box-shadow: 0 0 12px #387BBE;
}

.content {
	//margin: 12px;
	padding: 15px;
}

.heading {
	font-family: Helvetica,Arial,sans-serif;
	border: 1px solid #333;
background: #111;
color: white;
font-weight: bold;
text-shadow: 0 -1px 1px black;
background-image: -webkit-gradient(linear,left top,left bottom,from( #3C3C3C ),to( #111 ));
background-image: -webkit-linear-gradient( #3C3C3C,#111 );
background-image: -moz-linear-gradient( #3C3C3C,#111 );
background-image: -ms-linear-gradient( #3C3C3C,#111 );
background-image: -o-linear-gradient( #3C3C3C,#111 );
background-image: linear-gradient( #3C3C3C,#111 );
}

h1 {
	min-height: 1.1em;
text-align: center;
font-size: 16px;
display: block;
margin: .6em 30% .8em;
padding: 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
outline: 0!important;
color: white;
font-weight: bold;
text-shadow: 0 -1px 1px black;
}

a {
	padding: 10px 10px 10px 10px;
	display: block;
	text-align: center;
	cursor: pointer;
	position: relative;
	margin: .5em 0;
	padding: 0;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	text-decoration: none;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3);

}
a span {
	padding: .6em 0 .6em 0;
	display: block;
}
.bck{
	color: #FFFFFF;
	background: #333;
	border: 1px solid #111;
	text-shadow: 0 1px 1px #111;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #444 ),to( #2D2D2D ));
	background-image: -webkit-linear-gradient( #444,#2D2D2D );	
	background-image: -moz-linear-gradient( #444,#2D2D2D );
	background-image: -ms-linear-gradient( #444,#2D2D2D );
	background-image: -o-linear-gradient( #444,#2D2D2D );
	background-image: linear-gradient( #444,#2D2D2D );
}
.bck:hover {
	border: 1px solid black;
	background: #444;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #555 ),to( #383838 ));
	background-image: -webkit-linear-gradient( #555,#383838 );
	background-image: -moz-linear-gradient( #555,#383838 );
	background-image: -ms-linear-gradient( #555,#383838 );
	background-image: -o-linear-gradient( #555,#383838 );
	background-image: linear-gradient( #555,#383838 );
}
.a{
	color: #2F3E46;
	background: #EEE;
	border: 1px solid #CCC;
	text-shadow: 0 1px 0 #FFF;
	background-image: -webkit-gradient(linear,left top,left bottom,from( white ),to( #F1F1F1 ));
background-image: -webkit-linear-gradient( white,#F1F1F1 );
background-image: -moz-linear-gradient( white,#F1F1F1 );
background-image: -ms-linear-gradient( white,#F1F1F1 );
background-image: -o-linear-gradient( white,#F1F1F1 );
background-image: linear-gradient( white,#F1F1F1 );
}
.a:hover {
	border: 1px solid #BBB;
	background: #DFDFDF;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #F6F6F6 ),to( #E0E0E0 ));
background-image: -webkit-linear-gradient( #F6F6F6,#E0E0E0 );
background-image: -moz-linear-gradient( #F6F6F6,#E0E0E0 );
background-image: -ms-linear-gradient( #F6F6F6,#E0E0E0 );
background-image: -o-linear-gradient( #F6F6F6,#E0E0E0 );
background-image: linear-gradient( #F6F6F6,#E0E0E0 );
}
.b{
	color: #FFFFFF;
	background: #396B9E;
	border: 1px solid #044062;
	text-shadow: 0 1px 1px #194B7E;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #5F9CC5 ),to( #396B9E ));
	background-image: -webkit-linear-gradient(#5F9CC5,#396B9E);	
	background-image: -moz-linear-gradient(#5F9CC5,#396B9E);
	background-image: -ms-linear-gradient(#5F9CC5,#396B9E);
	background-image: -o-linear-gradient(#5F9CC5,#396B9E);
	background-image: linear-gradient(#5F9CC5,#396B9E);
}
.b:hover {
	border: 1px solid #00415E;
	background: #4B88B6;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #6FACD5 ),to( #4272A4 ));
background-image: -webkit-linear-gradient( #6FACD5,#4272A4 );
background-image: -moz-linear-gradient( #6FACD5,#4272A4 );
background-image: -ms-linear-gradient( #6FACD5,#4272A4 );
background-image: -o-linear-gradient( #6FACD5,#4272A4 );
background-image: linear-gradient( #6FACD5,#4272A4 );
}
.d{
	color: #FFFFFF;
	background: #396B9E;
	border: 1px solid #044062;
	text-shadow: 0 1px 1px #194B7E;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #27F015 ),to( #2C8079 ));
	background-image: -webkit-linear-gradient(#27F015,#2C8079);	
	background-image: -moz-linear-gradient(#27F015,#2C8079);
	background-image: -ms-linear-gradient(#27F015,#2C8079);
	background-image: -o-linear-gradient(#27F015,#2C8079);
	background-image: linear-gradient(#27F015,#2C8079);
}
.d:hover {
	border: 1px solid #00415E;
	background: #4B88B6;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #3F0 ),to( #28CCC5 ));
background-image: -webkit-linear-gradient( #3F0,#28CCC5 );
background-image: -moz-linear-gradient( #3F0,#28CCC5 );
background-image: -ms-linear-gradient( #3F0,#28CCC5 );
background-image: -o-linear-gradient( #3F0,#28CCC5 );
background-image: linear-gradient( #3F0,#28CCC5 );
}
.e{
	color: #FFFFFF;
	background: #396B9E;
	border: 1px solid #044062;
	text-shadow: 0 1px 1px #194B7E;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #F06415 ),to( #7C2436 ));
	background-image: -webkit-linear-gradient(#F06415,#7C2436);	
	background-image: -moz-linear-gradient(#F06415,#7C2436);
	background-image: -ms-linear-gradient(#F06415,#7C2436);
	background-image: -o-linear-gradient(#F06415,#7C2436);
	background-image: linear-gradient(#F06415,#7C2436);
}
.e:hover {
	border: 1px solid #00415E;
	background: #4B88B6;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #F60 ),to( #DB96A7 ));
background-image: -webkit-linear-gradient( #F60,#DB96A7 );
background-image: -moz-linear-gradient( #F60,#DB96A7 );
background-image: -ms-linear-gradient( #F60,#DB96A7 );
background-image: -o-linear-gradient( #F60,#DB96A7 );
background-image: linear-gradient( #F60,#DB96A7 );
}
.up {
	width: 40%;
}
.sec {
	float: left;
	position: relative;
	left: 5%;
}
.sec2 {
	float: right;
	position: relative;
	left: -5%;
}
#up1,#up2
{
	padding: 2.4em 0 2.4em 0;
}
.scok {
	position: relative;
	top: 11em;
}
#sc1,#sc2
{
	display: block;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background: #30B46F;
	color: #5E505C;
	width: 20%;
	padding: 10%;
	position: relative;
	left: 30%;
}

.mat {
	display: block;
}
td {
	width: 50%;
	text-align: center;
	//background: #FF0000;
	//border-bottom: 1px solid #F0F0F0;
	padding: 10px;
}
.showsc2 {
	background: #50DADA;
}
.showsc1{
	background: #AAAAAA;
}
table{
	border: #000000;
	border-spacing: 0px;
	border-collapse: separate;
	background: #AAAAAA;
}
.pre {
	display: block;
	text-align: center;
}